{% extends 'base.html.twig' %}

{% block title %}New Program{% endblock %}

{% block body %}
    <h1>Créer un nouveau programme</h1>

    {{ include('program/_form.html.twig') }}

    <a href="{{ path('program_index') }}"><button type="button" class="btn btn-secondary">back to list</button></a>
{% endblock %}
