@import "~bootstrap/scss/bootstrap";

$primary: black;
$secondary: purple;

h1 {
    color: $secondary;
}
.seriespage {
  text-align: center;
}
.mt-0 {
  text-align: center;
}
.mainseason {
  text-align: center;
}